/*
Theme Name: Mon theme
*/



#mynetwork {
    width: 600px;
    height: 400px;
    background-color: rgba(233, 220, 220, 0.8); 
    border : solid black 4px;
}


body {
    background-image: url("https://cdn.discordapp.com/attachments/905880440768966718/951412824918331402/388ce39760_84187_fs-11.jpg");
    text-shadow: 1px 1px 2px rgb(245, 167, 167), 0 0 1em rgb(255, 251, 150), 0 0 0.2em rgb(104, 88, 88);
    
}

header {
    background-color: rgba(237, 33, 26, 0.8); 
    border : solid black 4px;
    font-size: 50px ;
}

.items-inner {
    column-count: 2;
    margin-left: 3vw;
    margin-right: 3vw;
}

.letter-section , h1, .section{
    border : solid black 4px;
    background-color: rgba(230, 133, 29, 0.5); 
}

.headertext {
    
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 247, 0), 0 0 0.2em black;
}

.headerlogo {

    height: 70px !important;
    width:70px !important;
    border: solid black 2px;
}

img {
    height: 20vh;
    width: auto;
    border: solid black 2px;
}

h1 {
    color: rgb(218, 172, 124);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 247, 0), 0 0 0.2em black;
}
a {
    font-weight: bold;
    color: rgb(240, 140, 47) !important;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(230, 230, 77), 0 0 0.2em black;
}

.az-letters-wrap {
    display: none;
}

div.letter-section div.back-to-top a {
    font-size: 13px !important;
}